[[redirects]]
  from = "/api/character/avatar/*"
  to = "https://rickandmortyapi.com/api/character/avatar/:splat"
  status = 200
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"