$primary-color: #B2DF28;
$sky-color: #00333D;
$success-color: #00FF80;
$error-color: #FF1E00;

$gray-color-1: #0E0E0E;
$gray-color-2: #2C2E30;
$gray-color-3: #3B3D3F;
$gray-color-4: #404244;
$gray-color-5: #989A9C;
$gray-color-6: #E5E6E6;

$white-color: #FFFFFF;